.header-bar {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 20px;
     background-color:rgb(52, 199, 150);
     color: yellow;
   }
   
   .header-content {
     display: flex;
     align-items: center;
     width: 100%;
   }
   
   .header-left {
     flex: 1;
   }
   
   .header-center {
     flex: 2;
   }
   

   .header-center .search-input {
     width: 100%;
     padding: 5px 30px 5px 10px; /* Adjust padding to position the icon */
     border: 1px solid ghostwhite;
     text-align:center;
     border-radius: 25px;
     background-image: url('https://i.pinimg.com/564x/32/46/4f/32464f1e5899deb451c029168bb595db.jpg'); /* Replace with your icon image path */
     background-size: 20px; /* Adjust the size of the icon */
     background-position:  5% center; /* Adjust the position of the icon */
     background-repeat: no-repeat;
   }
   
   
   .header-center .search-input:focus::placeholder {
     color: #ccc; /* Adjust color of the placeholder text when focused */
   }
   

   .header-center input::placeholder {
     color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed (0.5 is 50% opacity) */
   }
   
   
   .header-right {
     flex: 1;
     display: flex;
     justify-content: flex-end;
   }
   
   .icon {
     margin-left: 80px;
     scale: 2;
     cursor: pointer;
   }
   
   .icon:hover {
     color:yellow; /* Change the color when the cursor hovers over the icon */
   }